body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("media/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

canvas {
  border: solid black;
  background-color: white;
}

button {
  padding: 10px 20px;
  background-color: #6a0dad;
  border-radius: 10rem;
  color: #aef359;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

button.control-button:hover {
  background-color: #aef359;
  color: #6a0dad;
}

#mainCanvasDiv {
  position: relative;
}

#previewCanvasDiv {
  position: absolute;
  top: 0;
}

#selectBtn {
  background-image: url("media/arrow.png");
  background-size: 10px auto;
  background-position: center;
  background-repeat: no-repeat;
}

#ellipseBtn {
  background-image: url("media/ellipse.png");
  background-size: 10px auto;
  background-position: center;
  background-repeat: no-repeat;
}

#rectBtn {
  background-image: url("media/rectangle.png");
  background-size: 20px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

#lineBtn {
  background-image: url("media/line.png");
  background-size: 100% 2px;
  background-position: center;
  background-repeat: no-repeat;
}

#cpFillColor {
  margin-left: -1rem;
}

#upBtns {
  margin-top: 1rem;
}

#grosimeLabel {
  align-self: center;
}

#grosimeSlider {
  margin-left: 1.5rem;
}

#grosimeLabel {
  margin-left: 3rem;
}

#listaFiguriLbl {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  font-weight: bold;
  background-color: #6a0dad;
  background-size: auto;
  color: #aef359;
}

#listaFiguri {
  width: 100%;
}

#sideNote {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  font-weight: bold;
  color: #aef359;
  background: #6a0dad;
  margin-left: 2rem;
  word-wrap: break-word;
  text-align: justify;
}

#rightBtnsContainer {
  display: flex;
  flex-direction: row;
}

#figuri-container {
  width: min-content;
  height: 400px;
  text-align: justify;
}

.tooltip-text {
  visibility: hidden;
  width: fit-content;
  background-color: #6a0dad;
  color: #aef359;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.canvas-container {
  display: flex;
}

.colorPicker {
  margin-right: 10px;
}

.labelCanvas {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  font-weight: bold;
  color: #aef359;
  background: #6a0dad;
  margin-right: 1.5rem;
}

.button-container {
  margin-left: -9%;
}

#placeholderLbl {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  font-weight: bold;
  color: #aef359;
  background: #6a0dad;
  margin-left: 2rem;
}

button:hover .tooltip-text {
  visibility: visible;
  margin-top: 1rem;
  margin-left: -3.8rem;
}
